*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "YekanBakhMedium";
}
:root{
    --primary:#e60020;
    --secondery1:#757575;
    --secondery2:#cbcbcb;
    --secondery3:#ededed;
    --secondery4:#f0eff5;
    --onPrimary:#f9f9f9;
    --onSecondery:#353434;
    --black:#000;
    --white:#fff;
}
@font-face {
    font-family: YekanBakhBoldz;
    src: url("./assets/font/YekanBakhBold.woff") format("woff");
}
@font-face {
    font-family: YekanBakhHeavy;
    src: url("./assets/font/YekanBakhHeavy.woff") format("woff");
}
@font-face {
    font-family: YekanBakhMedium;
    src: url("./assets/font/YekanBakhMedium.woff") format("woff");
}
body{
    background-color: var(--secondery2);
}
header{
    height: 80px;
    background-color: var(--onPrimary);
    position: sticky;
}
.navbar-brand img{
    width: 200px;
    height: 60px;
}
.nav-link{
    color:var(--black);
    font-family: "YekanBakhMedium";
}
.nav-link:hover{
    color: var(--primary);
}
.landing{
    height: calc(100vh - 80px);
    background-image:linear-gradient(to top,rgb(173, 173, 173),rgb(231, 231, 231)) ;
}
.landing div{
    margin-top: 150px;
}
.landing a{
    background-color: var(--primary);
    color: var(--onPrimary);
    font-size: 22px;
}
.landing a:hover{
    background-color: var(--onPrimary);
    color: var(--primary);
    border-color: var(--primary);
}
.h3{
    font-family:"YekanBakhBoldz";
}
.h4{
    color: var(--onSecondery);
    text-align: center;
}

.card{
    width: 300px;
    border-radius: 18px;
    background-color: var(--onPrimary);
}
.card-img-top{
    width: 60px;
    height: 60px;
}
.card-title{
    color: var(--primary);
    font-family:"YekanBakhBoldz" ;
}
.card-text{
    text-align: center;
}
.wave{
    width: 100%;
}
.wave:first-child{
    transform: rotate(180deg);
}
.option{
    background-color: var(--secondery3);
    padding: 30px 0;
    direction: rtl;
}
/* .option p{
    text-align: right;
} */
.h4{
    font-family: "YekanBakhBoldz";
    color: var(--primary);
}
.h5{
    font-family: "YekanBakhBoldz";
}

.option svg{
    background-color: var(--primary);
    border-radius: 16px;
    width: 24px;
    height: 24px;
    box-sizing: content-box;
    padding: 2px;
    fill: var(--white);
    text-align: right;
}